*{
    margin: 5px;        
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: linear-gradient(to bottom right, #33475b, #0033CC, #97da95, rgb(169, 255, 89));
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
section{
  border: 2px solid white;
}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
form{
        width: 50%;
    }
legend{
  text-decoration: underline;
  text-align: center;
}
#home{
  display: grid;
  justify-content: center;
    
  }
  fieldset{
  float: left;
  border: 2px solid transparent;
  width: 50%;
  margin-left: 2%;
  }
button:hover {
    cursor: pointer;
}

/* The calculator panel */
.b{
    border-top-style: solid;    
    border-top-width: 20px;
    width: 600px;
    max-height: 600px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;    
}

figure{
    float: right;    
}
figure img{
    border-radius: 10px;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin: 20px;
}
span{
    color: rgb(224, 166, 7);
    font-weight: bold;
}
.nav-link{
    color: blue;
    font-weight: bold;
}
.form-text{
    color: rgb(0, 0, 0);
}
.iconbutton{
  width:40px;
  height:40px;
  border-radius: 100%;
  background-color: rgb(228, 240, 67);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom:40px;
  left:0;
  }

.iconbutton img {
  width:30px
}
  
footer {
  background-color:rgb(80, 112, 61);
  margin-top: 20px;
  padding: 10px;
  text-align: center;

}
.maxDigit{
  border-top-color: rgb(114, 185, 114);
}
.sumOfDigits{
  border-top-color: rgb(224, 181, 39);
}

.reverseDigit{
  border-top-color: rgb(113, 0, 128);
}
.powerOfNum{

  border-top-color: rgb(49, 0, 128);
}